<div id="settingRecipe">
    <input  type="text" data-original-value="{{recipe.title}}"  class="restorable"/>



</div>




<script>
    var vm = new Vue({
        el: '#settingRecipe',
        data: function () {
            return {
                loading: false,
                user: {},
                categories: [],
                filter: {
                    category: null,
                    serviceCount: null,
                    cookingTime: null,
                    skip: 0
                },
                items: []

            }
        }, beforeMount() {
            axios.post('category/all', { searchTerm: '' }).then((res) => {
                this.categories = res.data.data.items;
            })


        }
    })




</script>