<!--banner-->
<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Contact us</h1>
        </div>

    </div>
</div>
<div class="advance-search">
    <!--advance search form-->

    <div class="container">
        <div class="wrapper-search">


        </div>
    </div>

    <!--advance search form ends-->
</div>

<!--banner ends-->
<!--main content area-->
<section class="recipes-home-body inner-page">
    <div class="container">
        <div class="recipe-set">
            <h2>Our Locations</h2>
            <div class="contact-container">
                <div class="row">
                    <div class="col-md-4">
                        <section class="contact-option-single">
                            <h3>Registered office</h3>
                            <p>
                                Recipe north street, opp secure garden. Hotel
                                View, City State Office, Melbournebr <br />
                                Australia. 123456
                            </p>
                            <ul class="contact-options">
                                <li class="phone"><span>Phone: </span>+123 4567 890</li>
                                <li class="fax"><span>Fax: </span>+123 4567 890</li>
                                <li class="email"><span>Email: </span><a href="#">info@foodandtaste.com</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <section class="contact-option-single">
                            <h3>Our Restaurant</h3>
                            <p>
                                Recipe north street, opp secure garden. Hotel
                                View, City State Office, Melbourne <br />
                                Australia. 123456
                            </p>
                            <ul class="contact-options">
                                <li class="phone"><span>Phone: </span>+123 4567 890</li>
                                <li class="fax"><span>Fax: </span>+123 4567 890</li>
                                <li class="email"><span>Email: </span><a href="#">info@foodandtaste.com</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <section class="contact-option-single">
                            <h3>Other Office</h3>
                            <p>
                                Recipe north street, opp secure garden. Hotel
                                View, City State Office, Melbourne <br />
                                Australia. 123456
                            </p>
                            <ul class="contact-options">
                                <li class="phone"><span>Phone: </span>+123 4567 890</li>
                                <li class="fax"><span>Fax: </span>+123 4567 890</li>
                                <li class="email"><span>Email: </span><a href="#">info@foodandtaste.com</a></li>
                            </ul>
                        </section>
                    </div>
                </div>

                <div class="separator-post"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-option-single">
                            <h3>Quick Contact</h3>
                            <fieldset>
                                <div class="container;col-md-6" id="sendMessage">
                                    <form action="contact_form_handler.php" method="post" novalidate="novalidate">
                                        <div class="form-group">
                                            <input v-model="form.name" type="text" class="form-control" name="name" id="name"
                                                   placeholder="lütfen adınızı giriniz">
                                            <p v-if="response.validationErrors.some(x => x.key == 'name' )">
                                                {{ response.validationErrors.find(x => x.key == 'name').value }}
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <input v-model="form.email" type="email" class="form-control" name="email" id="email"
                                                   placeholder="lütfen email adresinizi giriniz">
                                            <p v-if="response.validationErrors.some(x => x.key == 'email')">
                                                {{ response.validationErrors.find(x => x.key == 'email').value }}
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <input v-model="form.phoneNumber" type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                                                   placeholder="lütfen telefon numaranızı giriniz">
                                            <p v-if="response.validationErrors.some(x => x.key == 'phoneNumber')">
                                                {{ response.validationErrors.find(x => x.key == 'phoneNumber').value }}
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <input v-model="form.message" type="text" class="form-control" name="message" id="message"
                                                   placeholder="mesajınız" multiple>
                                            <p v-if="response.validationErrors.some(x => x.key == 'message')">
                                                {{ response.validationErrors.find(x => x.key == 'message').value }}
                                            </p>
                                        </div>

                                        <div class="g-recaptcha" data-sitekey="6Ldt7KEUAAAAALiiW2ZzHSddbXN1Z1QvpWs4wN5n"></div>
                                        <button @@click="sendMessage" type="button">Gönder</button>
                                        <p v-if="response.hasError">{{ response.message }}</p>
                                    </form>
                                </div>

                            </fieldset>
                            <div class="error-container"></div>
                            <div id="message-sent"></div>
                        </div>
                    </div>
                    <div class="col-md-6">


                        <!--google map-->
                        <div class="contact-option-single">
                            <h3>Find Location on Map</h3>
                            <div class="map-wrapper">
                                <div id="map_canvas"></div>

                            </div>
                            <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
                            <script type="text/javascript">
                                function init_map() {

                                    var mapLatitude = 39.0500155,
                                        mapLongitude = -77.1169103,
                                        mapZoom = 14;

                                    var myOptions = {
                                        zoom: mapZoom,
                                        scrollwheel: false,
                                        center: new google.maps.LatLng(mapLatitude, mapLongitude),
                                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                                        styles: [
                                            {
                                                "featureType": "landscape",
                                                "elementType": "labels",
                                                "stylers": [
                                                    {
                                                        "visibility": "off"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "transit",
                                                "elementType": "labels",
                                                "stylers": [
                                                    {
                                                        "visibility": "off"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "poi",
                                                "elementType": "labels",
                                                "stylers": [
                                                    {
                                                        "visibility": "off"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "water",
                                                "elementType": "labels",
                                                "stylers": [
                                                    {
                                                        "visibility": "off"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road",
                                                "elementType": "labels.icon",
                                                "stylers": [
                                                    {
                                                        "visibility": "off"
                                                    }
                                                ]
                                            },
                                            {
                                                "stylers": [
                                                    {
                                                        "hue": "#00aaff"
                                                    },
                                                    {
                                                        "saturation": -100
                                                    },
                                                    {
                                                        "gamma": 1.15
                                                    },
                                                    {
                                                        "lightness": 12
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road",
                                                "elementType": "labels.text.fill",
                                                "stylers": [
                                                    {
                                                        "visibility": "on"
                                                    },
                                                    {
                                                        "lightness": 24
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "lightness": 10
                                                    }
                                                ]
                                            }
                                        ]
                                    };
                                    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                                    marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(mapLatitude, mapLongitude) });

                                }
                                google.maps.event.addDomListener(window, "load", init_map);</script>
                        </div>
                        <!--google map ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--main content area-->



<script>
    var vm = new Vue({
        el: '#sendMessage',
        data: function () {
            return {
                loading: false,
                form: {
                    Email: null,
                    Message: null,
                    PhoneNumber: null,
                    Name: null,
                    captchaToken: null
                },
                response: {
                    hasError: false,
                    validationErrors: [],
                    message: null
                }
            }
        }, methods: {
            sendMessage() {

                this.form.captchaToken = document.getElementById('g-recaptcha-response').value;

                axios.post("contact/add", this.form).then((res) => {
                    this.response = res.data;
                    if (res.data.hasError) {
                        swal('Hata', res.data.message, 'error')
                    }
                    else {
                        swal('Basarili', res.data.message, 'success')
                        this.form.email = "";
                        this.form.message = "";
                        this.form.phoneNumber = "";
                        this.form.name = "";

                    }
                });
            }
        }
    })
    window.onload = function () {
        var $recaptcha = document.querySelector('#g-recaptcha-response');
        if ($recaptcha) {
            $recaptcha.setAttribute("required", "required");
        }
    }

</script>

<style>
    #g-recaptcha-response {
        display: block !important;
        position: absolute;
        margin: -78px 0 0 0 !important;
        width: 302px !important;
        height: 76px !important;
        z-index: -999999;
        opacity: 0;
    }
</style>