<div id="detailPage" class="recipes-home-body inner-page">
    <div class="container" v-if="data != null">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="recipe-set ">
                    <div class="wrapper-detail-contents">
                        <div class="single-recipe-detail">
                            <div class="wrapper-recipe-heading">
                                <div class="heading">
                                    <h2>{{data.title}}</h2>
                                    <div class="rating-box">
                                        <el-rate v-model="data.avarageRate"
                                                 disabled
                                                 show-score
                                                 text-color="#ff9900"
                                                 :score-template="data.avarageRate + '/5'">
                                        </el-rate>
                                      @*<span class="rating-figure">({{data.avarageRate}} / 5)</span>*@
                                    </div>
                                </div>
                                @*<div class="recipe-media">
                                    <a class="button-dark watch-video swipebox" href="https://vimeo.com/15306847">Watch Video</a>
                                </div>*@
                            </div>

                            <div class="slider-recipe-detail">
                                <div class="wrapper-slider-detail">
                                    <div class="top-slider">
                                        <div id="single-slider-flex" class="flexslider slider-detail">
                                            <ul class="slider">
                                                <li v-for="(image,index) in data.images">
                                                    <a rel="recipe-slider-1" href="recipe.images.image" class="swipebox">
                                                        <img :src="image.image" alt="Recipe Single Image" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    @*<div id="recipe-slider-carousel">
                                        <div id="recipe-carousel-flex">
                                            <ul class="slides">
                                                <li><img src="images/temp-images/slider-detail-thumb.jpg" alt="Recipe Carousel Thumbnail" /></li>
                                                <li><img src="images/temp-images/slider-detail-thumb.jpg" alt="Recipe Carousel Thumbnail" /></li>
                                                <li><img src="images/temp-images/slider-detail-thumb.jpg" alt="Recipe Carousel Thumbnail" /></li>
                                                <li><img src="images/temp-images/slider-detail-thumb.jpg" alt="Recipe Carousel Thumbnail" /></li>
                                                <li><img src="images/temp-images/slider-detail-thumb.jpg" alt="Recipe Carousel Thumbnail" /></li>
                                                <li><img src="images/temp-images/slider-detail-thumb.jpg" alt="Recipe Carousel Thumbnail" /></li>
                                            </ul>
                                        </div>
                                        <span class="custom-arrows wider">
                                            <span class="left-arrow slick-arrow" data-direction="prev" style="display: table-cell;"><i class="fa fa-arrow-left"></i></span>
                                            <span class="right-arrow slick-arrow" data-direction="next" style="display: table-cell;"><i class="fa fa-arrow-right"></i></span>
                                        </span>
                                    </div>*@
                                </div>
                                <ul class="recipe-specs">
                               
                                    <li><span class="count">{{data.cookingTime}}</span><span class="text">Pişme Süresi:</span></li>
                                    <li><span class="count">{{data.prepareTime}}<span></span></span><span class="text">Hazırlama Süresi:</span></li>
                                    <li><span class="count">{{data.serviceCount}}<span></span></span><span class="text">Servis Sayısı:</span></li>
                                    @*<li><span class="count">{{data.prepareTime}}+{{data.cookingTime}}<span></span></span><span class="text">Hazırlanma Süresi:</span></li>*@
                                </ul>
                            </div>
                        </div>


                        <div class="recipe-detail-body">
                            @*<a href="#" class="print-button"><i class="fa fa-print"></i>Print Recipe</a>*@


                            <div class="separator-post"></div>
                            <p>
                                {{data.details}}
                            </p>
                            <br />
                            <div class="ingredients-checkbox">
                                <div class="ingredients">
                                    <h3>Malzemeler</h3>
                                    <ul>
                                        <li v-for="(item,index) in data.ingredients">
                                            <label>
                                                <input type="checkbox" />
                                                {{item.title}}
                                            </label>
                                        </li>


                                    </ul>
                                </div>

                            </div>

                            <div class="recipe-steps">
                                <h3 class="lined">Hazırlama Aşamaları</h3>
                                <ul class="steps-list">
                                    <li v-for="(item,index) in data.steps">
                                        <div class="step-single">
                                            @*<div class="step-image">
                            <a href="images/temp-images/slide-recipe-detail.jpg" rel="recipe-slider-1" class="swipebox">
                                <img src="images/temp-images/step1.jpg"
                                     alt="image" />
                            </a>
                        </div>*@
                                            <div class="step-detail">
                                                <h3></h3>
                                                <p>
                                                    {{item.title}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-10"></div>
                            <div class="col-md-2,meta-listing" >
                                <ul class="post-meta">
                                    <li class="author"><a href="#">{{data.username}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--banner ends-->


</div>

<script>
         
     var vm = new Vue({
         el: '#detailPage',
         data: function () {
             return {
                 loading: false,
                 item: {},
                 data: null

             }
         },

         beforeMount() {
             axios.post('http://localhost:5005/api/recipe/detail', { slug: '@ViewContext.HttpContext.Request.Query["slug"]' }).then((res) => {
                 this.data = res.data.data;


                 setTimeout(() => {
                     $('.slider').slick();
                 },500)
              })
         }
           
 })</script>

<style>
    .slick-prev {
        z-index: 9 ;
    }
</style>