@*@{
        ViewData["Title"] = "Index";
    }*@
<div id="mostRatedRecipe">
    <section class="wrapper-home-slider slider-main">
        <div class="container">
            <div class="home-slider">
                <div class="slider-box">

                    <!--left slider-->
                    <div class="slider-left">
                        <div class="custom-margin" id="sync1">

                            <div v-for="item in items">
                                <a href="#">
                                    <img :src="item.images[0].image" width="749" height="521" alt="slide" />
                                </a>
                            </div>


                        </div>
                        <span class="custom-arrows">
                            <span class="left-arrow"><i class="fa fa-arrow-left"></i></span>
                            <span class="right-arrow"><i class="fa fa-arrow-right"></i></span>
                        </span>
                    </div>
                    <!--left slider ends-->
                    <!--right slider-->
                    <div class="slider-right">
                        <div class="custom-margin" id="sync2">


                            <div v-for="item in items">
                                <div class="slide-detail fbox">
                                    <div class="box1 box">
                                        <h2><a href="#">{{item.title}}</a></h2>



                                        <ul class="post-meta slider-rating">
                                            <li class="author"><a href="#">{{item.username}}</a></li>

                                            <li class="time">{{item.prepareTime}}</li>
                                            <li><a class="el-icon-s-flag" @@click="changeBookmark(item.id)" href="#">| İşaretle</a></li>
                                        </ul>
                                        <p>
                                            {{item.details}}
                                        </p>
                                    </div>
                                    <div class="rating-slider box2 box">
                                        <el-rate v-model="item.avarageRate"
                                                 disabled
                                                 show-score
                                                 text-color="#ff9900"
                                                 :score-template="item.avarageRate + '/5'">
                                        </el-rate>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--right slider ends-->
                </div>
                <div class="corner-image slider">
                    <img src="/Theme/images/slider-bg-corner.png" alt="image" />
                </div>
            </div>
        </div>

    </section>
    <!--main slider ends-->
    <!--search bar-->
    <div class="wrapper-search-bar">
        <div class="container">
            <div class="search-bar">
                <div class="row">
                    <div class="col-lg-4 col-md-5" style=" display: flex;
                                                           align-items: center;
                                                           justify-content: center;
                                                           padding-left: 20px;
                                                           height: 65px;">
   
                            <el-select v-model="recipeID"
                                       style="width: 100%;"
                                       filterable
                                       remote
                                       reserve-keyword
                                       placeholder="aranacak tarif"
                                       :remote-method="searchRecipe"
                                       :loading="loading">
                                <el-option v-for="item in recipes"
                                           :key="item.id"
                                           :label="item.title"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                            <p v-if="validationErrors.some(x => x.key == 'filter.title' )">
                                {{ validationErrors.find(x => x.key == 'filter.title').value }}
                            </p>

                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="wrapper-search-carousel">
                            <div class="search-carousel" id="search-carousel">
                                <div class="slide">
                                    <a href="#">
                                      {{categories[0].title}}
                                    </a>
                                </div>

                                <div class="slide">
                                    <a href="#">
                                    {{categories[1].title}}
                                    </a>
                                </div>

                                <div class="slide">
                                    <a href="#">
                                       {{categories[2].title}}
                                    </a>
                                </div>
                                <div class="slide">
                                    <a href="#">
                                     {{categories[3].title}}
                                    </a>
                                </div>
                                <div class="slide">
                                    <a href="#">
                                       {{categories[4].title}}
                                    </a>
                                </div>
                                @*<div class="slide">
                                    <a href="#">
                                        {{categories[5].title}}
                                    </a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--search bar ends-->
<!--hot recipes-->

<section class="wrapper-hot-recipes">
    <div class="container">
        <div class="container-tags">
            <span class="tag">
                <span class="tag-inner">Whats Hot</span>
            </span>
            <!--
            * These tags are skipped for WordPress specific AJAX functionality.
            <ul>
                <li><a href="#">Latest Recipes</a></li>
                <li><a href="#">Most Rated</a></li>
                <li><a href="#">Most Liked</a></li>
            </ul>
            -->
        </div>
        <div class="container-hot-recipes">
            <div class="hot-row">
                <!--recipe col starts-->
                <div class="full-image col-size">
                    <a href="#">
                        <figure class="inner-full-image">
                            <img src="/Theme/images/temp-images/hot-full.jpg" alt="image" />
                            <figcaption>Pasto Pizza with Extra Cheese Toppings</figcaption>
                        </figure>
                    </a>
                </div>
                <!--recipe col ends-->
                <!--recipe col start-->
                <div class="split-images col-size">
                    <div class="split-images-inner">
                        <!--recipe start-->
                        <div class="intro-first ">
                            <div class="recipe-box">
                                <div class="intro bg-color1">
                                    <div class="heading-recipe">
                                        <h3><a href="#">Pasto Pizza with Ext Cheese Toppings</a></h3>
                                    </div>
                                    <div class="rating-box">
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-figure">(4.1 / 5)</span>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="#"><img src="/Theme/images/temp-images/hot-1.jpg" alt="image" /></a>
                                </div>
                            </div>
                        </div>
                        <!--recipe ends-->
                        <!--recipe start-->
                        <div class="image-first">
                            <div class="recipe-box">
                                <div class="intro bg-color2">

                                    <div class="heading-recipe">
                                        <h3><a href="#">Pasto Pizza with Ext Cheese Toppings</a></h3>
                                    </div>
                                    <div class="rating-box">
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-figure">(4.1 / 5)</span>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="#"><img src="/Theme/images/temp-images/hot-2.jpg" alt="image" /></a>
                                </div>
                            </div>
                        </div>
                        <!--recipe ends-->
                    </div>
                </div>
                <!--recipe col ends-->
                <!--recipe col start-->
                <div class="split-images col-size">
                    <div class="split-images-inner">
                        <!--recipe start-->
                        <div class="image-first">
                            <div class="recipe-box">
                                <div class="intro bg-color3">
                                    <div class="heading-recipe">
                                        <h3><a href="#">Pasto Pizza with Ext Cheese Toppings</a></h3>
                                    </div>
                                    <div class="rating-box">
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-figure">(4.1 / 5)</span>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="#"><img src="/Theme/images/temp-images/hot-3.jpg" alt="image" /></a>
                                </div>
                            </div>
                        </div>
                        <!--recipe ends-->
                        <!--recipe start-->
                        <div class="intro-first">
                            <div class="recipe-box">
                                <div class="intro bg-color4">

                                    <div class="heading-recipe">
                                        <h3><a href="#">Pasto Pizza with Ext Cheese Toppings</a></h3>
                                    </div>
                                    <div class="rating-box">
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-figure">(4.1 / 5)</span>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="#"><img src="/Theme/images/temp-images/hot-4.jpg" alt="image" /></a>
                                </div>
                            </div>
                        </div>
                        <!--recipe ends-->

                    </div>
                </div>
                <!--recipe col ends-->
                <!--recipe col start-->
                <div class="split-images col-size">
                    <div class="split-images-inner">
                        <!--recipe start-->
                        <div class="intro-first">
                            <div class="recipe-box">
                                <div class="intro bg-color5">
                                    <div class="heading-recipe">
                                        <h3><a href="#">Pasto Pizza with Ext Cheese Toppings</a></h3>
                                        <ul class="post-meta recipe">
                                            <li class="author"><a href="#">Johan Doe</a></li>
                                            <li class="type"><a href="#">Easy</a></li>
                                            <li class="time">2 Hours</li>
                                        </ul>
                                        <p>
                                            Nam ornare arcu turpis, nec congue
                                            Curabitur quis euismod mauris. Nul
                                            eget semper vulputate.
                                        </p>
                                    </div>
                                    <div class="rating-box">
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-figure">(4.1 / 5)</span>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="#"><img src="/Theme/images/temp-images/hot-5.jpg" alt="image" /></a>
                                </div>
                            </div>
                        </div>
                        <!--recipe ends-->
                    </div>
                </div>
                <!--recipe col ends-->

            </div>

            <!--corner background image-->
            <div class="corner-image hot">
                <img src="/Theme/images/slider-bg-corner2.png" alt="image" />
            </div>
            <!--corner background image ends-->

        </div>
    </div>
</section>
<!--hot recipes end-->
<!--recipe submit banner-->
<div class="recipe-submit-banner">
    <div class="container">
        <div class="recipe-banner">
            @*<img class="" src="/Theme/images/temp-images/recipe-banner-img.png" alt="Image" />*@
            <div class="row">
                <div class="col-md-9">
                    <div class="banner-text">
                        <h2>Şef olmak ister misiniz ?</h2>
                        <p>
                            Şef olmak için tariflerinzi gönderebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="recipe-button">
                        <a class="submit-recipe" href=@Url.Action("SubmitRecipe","Home")>Tarif Gönder</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#mostRatedRecipe',

        data: function () {
            return {
                loading: false,
                items: [],
                categories: [],
                filter: {
                    searchTerm: null,
                    skip: 0
                },
                recipes: [],
                recipeID: null,
                validationErrors: []
            }
        },
        beforeMount() {

            axios.post('recipe/mostRatedRecipe').then((res) => {
                this.items = res.data.data.items;

                setTimeout(() => {
                    $('#sync1').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        speed: 1000,
                        autoplay: true,
                        autoplaySpeed: 7000,
                        asNavFor: '#sync2',
                        infinite: true,
                        pauseOnHover: true,
                        prevArrow: $('.left-arrow'),
                        nextArrow: $('.right-arrow'),
                        //autoplaySpeed: 0
                    });

                    $('#sync2').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        asNavFor: '#sync1',
                        speed: 1000,
                        arrows: false,
                        fade: true,
                        pauseOnHover: true
                    });
                }, 1000)
            }),
                axios.post('category/random').then((res) => {
                    this.categories = res.data.data.items;
                })


        },
        methods: {
            changeBookmark(id) {
                axios.post("recipe/togglebookmark", { id })
            },
            searchRecipe(query) {
                this.loading = true;
                axios.post("recipe/search", {skip: 0, searchTerm: query} ).then((res) => {
                    this.recipes = res.data.data.items;
                    this.loading = false
                })
            }
        },
        
        watch: {
            filter: {
                handler: function () {
                    this.callRecipe()
                },
                deep: true
            },
            recipeID: function () {
                window.location.href = "/home/detail?slug=" + this.recipes.find(k => k.id == this.recipeID).slug
            }
        }





    })
</script>