
<div id="mostRatedRecipe">
    <section class="wrapper-home-slider slider-main">
        <div class="container">
            <div class="home-slider">
                <div class="slider-box">

                    <!--left slider-->
                    <div class="slider-left">
                        <div class="custom-margin" id="sync1">

                            <div v-for="item in items">
                                <a :href="'/home/detail?slug=' + item.slug">
                                    <img :src="item.images[0].image" width="749" height="521" alt="slide" />
                                </a>
                            </div>


                        </div>
                        <span class="custom-arrows">
                            <span class="left-arrow"><i class="fa fa-arrow-left"></i></span>
                            <span class="right-arrow"><i class="fa fa-arrow-right"></i></span>
                        </span>
                    </div>
                    <!--left slider ends-->
                    <!--right slider-->
                    <div class="slider-right">
                        <div class="custom-margin" id="sync2">


                            <div v-for="item in items">
                                <div class="slide-detail fbox">
                                    <div class="box1 box">
                                        <h2><a :href="'/home/detail?slug=' + item.slug">{{item.title}}</a></h2>
                                        <a class="food-category" :href="'/home/bycategory?slug=' + item.categoryInfo[item.categoryInfo.length-1].slug" tabindex="0">{{item.categoryInfo[item.categoryInfo.length-1].title}}</a>


                                        <ul class="post-meta slider-rating">
                                            <li class="author"><a href="#">{{item.username}}</a></li>
                                            <li class="type"><a href="#" tabindex="0">Easy</a></li>

                                            <li class="time">{{item.prepareTime}}</li>
                                            <li><a class="el-icon-s-flag" @@click="changeBookmark(item.id)" href="#">| İşaretle</a></li>
                                        </ul>
                                        <p>
                                            {{item.details}}
                                        </p>
                                    </div>
                                    <div class="rating-slider box2 box" style="padding:20px; padding-left:100px">
                                        <el-rate v-model="item.avarageRate"
                                                 disabled
                                                 show-score
                                                 text-color="#ff9900"
                                                 :score-template="'(' + item.avarageRate + '/5)'">
                                        </el-rate>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--right slider ends-->
                </div>
                <div class="corner-image slider">
                    <img src="/Theme/images/slider-bg-corner.png" alt="image" />
                </div>
            </div>
        </div>

    </section>
    <!--main slider ends-->
    <!--search bar-->
    <div class="wrapper-search-bar">

        <div class="container">
            <div class="search-bar">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="search-box">
                            <form class="search-box-home">
                                <div class="slider-search-left">
                                    <el-select v-model="recipeID"
                                               style="width: 100%;"
                                               filterable
                                               remote
                                               reserve-keyword
                                               placeholder="aranacak tarif"
                                               :remote-method="searchRecipe"
                                               :loading="loading">
                                        <el-option v-for="item in recipes"
                                                   :key="item.id"
                                                   :label="item.title"
                                                   :value="item.id">
                                        </el-option>
                                    </el-select>
                                    <p v-if="validationErrors.some(x => x.key == 'filter.title' )">
                                        {{ validationErrors.find(x => x.key == 'filter.title').value }}
                                    </p>
                                    <button><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                            <div class="search-option">
                                <span>or</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="wrapper-search-carousel">
                            <div class="search-carousel slick-slider" id="search-carousel">

                                <div class="slide" v-for="item in categories">
                                    <a :href="'/recipe/byCategory?slug=' + item.slug">
                                        <span>
                                            <svg version="1.1" class="icon-container" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="42px" height="42px" viewBox="0 0 42 42" enable-background="new 0 0 42 42" xml:space="preserve">
<path class="icon-svg" d="M38.001,22.42v11.577c0,1.653-1.349,3-3.001,3h-8H7c-1.654,0-2.999-1.347-2.999-3V22.42C2.036,20.542,1,18.331,1,16.001
	C1,9.937,8.177,5.003,17,5.003h8c8.823,0,16,4.934,16,10.998C41,18.331,39.964,20.541,38.001,22.42L38.001,22.42z M17,7.003
	c-7.719,0-14,4.036-14,8.998c0,1.873,0.921,3.684,2.665,5.234C5.877,21.426,6,21.695,6,21.982v12.015c0,0.552,0.449,1.001,1,1.001
	h20c0.552,0,1.001-0.449,1.001-1.001V21.982c0-0.287,0.12-0.558,0.334-0.748C30.079,19.683,31,17.873,31,16.001
	C31,11.039,24.721,7.003,17,7.003L17,7.003z M26.249,7.043c4.077,1.996,6.752,5.263,6.752,8.958c0,2.33-1.036,4.54-3.001,6.419
	v11.577c0,0.354-0.073,0.687-0.186,1.001H35c0.551,0,1-0.449,1-1.001V23h-2c-0.555,0-0.999-0.447-0.999-1
	c0-0.552,0.444-0.999,0.999-0.999h2.578C38.157,19.5,39,17.78,39,16.001C39,11.311,33.385,7.451,26.249,7.043L26.249,7.043z
	 M20.5,16.001c-0.828,0-1.5-0.672-1.5-1.499c0-0.828,0.672-1.501,1.5-1.501s1.5,0.673,1.5,1.501
	C22,15.329,21.328,16.001,20.5,16.001L20.5,16.001z M21,25.499C21,26.328,20.328,27,19.5,27c-0.829,0-1.5-0.672-1.5-1.501
	C18,24.671,18.671,24,19.5,24C20.328,24,21,24.671,21,25.499L21,25.499z M11.5,21.001c-0.829,0-1.5-0.672-1.5-1.501
	c0-0.828,0.672-1.499,1.5-1.499S13,18.672,13,19.5C13,20.329,12.329,21.001,11.5,21.001L11.5,21.001z" />

</svg>
                                        </span>{{item.title}}
                                    </a>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--search bar ends-->
        <!--hot recipes-->

        <section class="wrapper-hot-recipes">
            <div class="container">
                <div class="container-tags">
                    <span class="tag">
                        <span class="tag-inner">En çok sevilenler</span>
                    </span>
                    <!--
                    * These tags are skipped for WordPress specific AJAX functionality.
                    <ul>
                        <li><a href="#">Latest Recipes</a></li>
                        <li><a href="#">Most Rated</a></li>
                        <li><a href="#">Most Liked</a></li>
                    </ul>
                    -->
                </div>
                <div class="container-hot-recipes" v-if="random.length != 0">
                    <div class="hot-row">
                        <!--recipe col starts-->
                        <div class="full-image col-size">
                            <a :href="'/home/detail?slug=' + random[0].slug">
                                <figure class="inner-full-im age">
                                    <img :src="random[0].images[0].image" alt="image" width="285" height="368" />
                                    <figcaption>{{random[0].title}} </figcaption>
                                </figure>
                            </a>
                        </div>
                        <!--recipe col ends-->
                        <!--recipe col start-->
                        <div class="split-images col-size">
                            <div class="split-images-inner">
                                <!--recipe start-->
                                <div class="intro-first ">
                                    <div class="recipe-box">
                                        <div class="intro bg-color1">
                                            <div class="heading-recipe">
                                                <h3><a :href="'/home/detail?slug=' + random[1].slug">{{random[1].title}}</a></h3>
                                            </div>
                                            <div class="rating-box">
                                                <el-rate v-model="random[1].avarageRate"
                                                         disabled
                                                         show-score
                                                         text-color="#ff9900"
                                                         :score-template="'(' + random[1].avarageRate + '/5)'">
                                                </el-rate>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <a :href="'/home/detail?slug=' + random[1].slug"><img :src="random[1].images[0].image" alt="image" width="285" height="184" /></a>
                                        </div>
                                    </div>
                                </div>
                                <!--recipe ends-->
                                <!--recipe start-->
                                <div class="image-first">
                                    <div class="recipe-box">
                                        <div class="intro bg-color2">

                                            <div class="heading-recipe">
                                                <h3><a :href="'/home/detail?slug=' + random[2].slug">{{random[2].title}}</a></h3>
                                            </div>
                                            <div class="rating-box">
                                                <el-rate v-model="random[2].avarageRate"
                                                         disabled
                                                         show-score
                                                         text-color="#ff9900"
                                                         :score-template="'(' + random[2].avarageRate + '/5)'">
                                                </el-rate>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <a :href="'/home/detail?slug=' + random[2].slug"><img :src="random[2].images[0].image" alt="image" width="285" height="184" /></a>
                                        </div>
                                    </div>
                                </div>
                                <!--recipe ends-->
                            </div>
                        </div>
                        <!--recipe col ends-->
                        <!--recipe col start-->
                        <div class="split-images col-size">
                            <div class="split-images-inner">
                                <!--recipe start-->
                                <div class="image-first">
                                    <div class="recipe-box">
                                        <div class="intro bg-color3">
                                            <div class="heading-recipe">
                                                <h3><a :href="'/home/detail?slug=' + random[3].slug">{{random[3].title}}</a></h3>
                                            </div>
                                            <div class="rating-box">
                                                <el-rate v-model="random[3].avarageRate"
                                                         disabled
                                                         show-score
                                                         text-color="#ff9900"
                                                         :score-template="'(' + random[3].avarageRate + '/5)'">
                                                </el-rate>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <a :href="'/home/detail?slug=' + random[3].slug"><img :src="random[3].images[0].image" alt="image" width="285" height="184" /></a>
                                        </div>
                                    </div>
                                </div>
                                <!--recipe ends-->
                                <!--recipe start-->
                                <div class="intro-first">
                                    <div class="recipe-box">
                                        <div class="intro bg-color3">
                                            <div class="heading-recipe">
                                                <h3><a :href="'/home/detail?slug=' + random[4].slug">{{random[4].title}}</a></h3>
                                            </div>
                                            <div class="rating-box">
                                                <el-rate v-model="random[4].avarageRate"
                                                         disabled
                                                         show-score
                                                         text-color="#ff9900"
                                                         :score-template="'(' + random[4].avarageRate + '/5)'">
                                                </el-rate>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <a :href="'/home/detail?slug=' + random[4].slug"><img :src="random[4].images[0].image" alt="image" width="285" height="184" /></a>
                                        </div>
                                    </div>
                                </div>
                                <!--recipe ends-->

                            </div>
                        </div>
                        <!--recipe col ends-->
                        <!--recipe col start-->
                        <div class="split-images col-size">
                            <div class="split-images-inner">
                                <!--recipe start-->
                                <div class="intro-first">
                                    <div class="recipe-box">

                                        <div class="intro bg-color5">
                                            <div class="heading-recipe">
                                                <h3><a :href="'/home/detail?slug=' + random[5].slug">{{random[5].title}}</a></h3>
                                            </div></a></h3>
                                            <ul style="margin:20px" class="post-meta recipe">
                                                <li class="author"><a href="#">{{random[5].username}}</a></li>

                                                <li class="time">{{random[5].prepareTime}}</li>
                                            </ul>
                                            <p style="margin:20px">
                                                {{random[5].details}}
                                            </p>
                                            <div style="margin:20px">
                                                <el-rate v-model="random[5].avarageRate"
                                                         disabled
                                                         show-score
                                                         text-color="#ff9900"
                                                         :score-template="random[5].avarageRate + '/5'">
                                                </el-rate>
                                            </div>
                                        </div>


                                        <div class="image">
                                            <a :href="'/home/detail?slug=' + random[5].slug"><img :src="random[5].images[0].image" alt="image" width="285" height="368" /></a>
                                        </div>
                                    </div>
                                </div>
                                <!--recipe ends-->
                            </div>
                        </div>
                        <!--recipe col ends-->

                    </div>

                    <!--corner background image-->
                    <div class="corner-image hot">
                        <img src="/Theme/images/slider-bg-corner2.png" alt="image" />
                    </div>
                    <!--corner background image ends-->

                </div>
            </div>
        </section>
    </div>
    <!--hot recipes end-->
    <!--recipe submit banner-->
    <div class="recipe-submit-banner">
        <div class="container">
            <div class="recipe-banner">
                @*<img class="" src="/Theme/images/temp-images/recipe-banner-img.png" alt="Image" />*@
                <div class="row">
                    <div class="col-md-9">
                        <div class="banner-text">
                            <h2>Şef olmak ister misiniz ?</h2>
                            <p>
                                Şef olmak için tariflerinzi gönderebilirsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="recipe-button">
                            <a class="submit-recipe" href=@Url.Action("SubmitRecipe","Home")>Tarif Gönder</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    new Vue({
        el: '#mostRatedRecipe',

        data: function () {
            return {
                loading: false,
                items: [],
                random: [],
                categories: [],
                filter: {
                    searchTerm: null,
                    skip: 0
                },
                recipes: [],
                recipeID: null,
                validationErrors: []
            }
        },
        beforeMount() {

            axios.post('recipe/mostRatedRecipe').then((res) => {
                this.items = res.data.data.items;

                setTimeout(() => {
                    $('#sync1').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        speed: 1000,
                        autoplay: true,
                        autoplaySpeed: 7000,
                        asNavFor: '#sync2',
                        infinite: true,
                        pauseOnHover: true,
                        prevArrow: $('.left-arrow'),
                        nextArrow: $('.right-arrow'),
                        //autoplaySpeed: 0
                    });

                    $('#sync2').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        asNavFor: '#sync1',
                        speed: 1000,
                        arrows: false,
                        fade: true,
                        pauseOnHover: true
                    });
                }, 1000)
            }),
                axios.post('category/random').then((res) => {
                    this.categories = res.data.data.items;

                    setTimeout(() => {

                        $('#search-carousel').not('.slick-initialized').slick({
                            infinite: true,
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            autoplay: false,
                            touchThreshold: 50,
                            arrows: false,
                            autoplaySpeed: 1000,
                            speed: 1000,
                            pauseOnHover: false,
                            swipeToSlide: true
                        });

                    }, 1000)
                }),
                axios.post('recipe/random').then((res) => {
                    this.random = res.data.data.items;
                })


        },
        methods: {
            changeBookmark(id) {
                axios.post("recipe/togglebookmark", { id })
            },
            searchRecipe(query) {
                this.loading = true;
                axios.post("recipe/all", { skip: 0, searchTerm: query, category: null, serviceCount: null, cookingTime: null, slug: null }).then((res) => {
                    this.recipes = res.data.data.items;
                    this.loading = false
                })
            }
        },

        watch: {
            filter: {
                handler: function () {
                    this.callRecipe()
                },
                deep: true
            },
            recipeID: function () {
                window.location.href = "/home/detail?slug=" + this.recipes.find(k => k.id == this.recipeID).slug
            }
        }





    })
</script>