<div id="CategoryPage">

    <!--banner-->
    <div class="banner banner-blog">
        <div class="container ">
            <div class="main-heading">
                <h1>Tarif Arama</h1>
            </div>

        </div>
    </div>
    <div class="advance-search">
        <!--advance search form-->

        <div class="container">
            <div class="wrapper-search">
                <div class="container-tags">
                    <span class="tag">
                        <span class="tag-inner">Tarif Arama <i class="fa fa-angle-down"></i></span>
                    </span>

                </div>
                <div class="outer-advance-search">

                    <form action="#" id="advance-search">
                        <fieldset>
                            <div class="inner-advance-search">

                                <div class="form-field">
                                    <label for="category">Kategori</label><br />
                                    <el-select v-model="filter.category" placeholder="Kategori Sec" clearable>
                                        <el-option v-for="item in categories"
                                                   :key="item.id"
                                                   :label="item.title"
                                                   :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>

                                <div class="form-field">
                                    <label for="serviceCount">Kaç Kişilik?</label>

                                    <el-select v-model="filter.serviceCount" placeholder="Servis Sayısı Seçin" clearable>
                                        <el-option :value="1" :label="1 + ' kisilik'"></el-option>
                                        <el-option :value="2" :label="2 + ' kisilik'"></el-option>
                                        <el-option :value="3" :label="3 + ' kisilik'"></el-option>
                                        <el-option :value="4" :label="4 + ' kisilik'"></el-option>
                                    </el-select>

                                </div>

                                <div class="form-field">
                                    <label for="cookingTime">Pişirme Süresi</label>

                                    <el-select v-model="filter.cookingTime" placeholder="Pisirme Suresi Seçin" clearable>
                                        <el-option :value="15" :label="15 + ' dakikadan az'"></el-option>
                                        <el-option :value="30" :label="30 + ' dakikadan az'"></el-option>
                                        <el-option :value="60" :label="60 + ' dakikadan az'"></el-option>
                                    </el-select>

                                </div>

                             

                            </div>
                        </fieldset>

                       

                    </form>
                </div>
            </div>
        </div>

        <!--advance search form ends-->
    </div>

    <div class="listing" v-for="(recipe, index) in items">
        <div class="image">
            <a href="#">
                <img :src="recipe.images[0].image" alt="image" />
            </a>
        </div>
        <div class="detail">
            <h4><a href="#">{{recipe.title}}</a></h4>
            <p>
                {{recipe.details}}
            </p>
            <div class="meta-listing">
                <ul class="post-meta">
                    <li class="author"><a href="#">{{recipe.username}}</a></li>
                    <li class="calendar">{{recipe.createDate}}</li>
                </ul>
                <div class="rating-box">
                    <el-rate v-model="recipe.avarageRate"
                             disabled
                             show-score
                             text-color="#ff9900"
                             :score-template="recipe.avarageRate + '/5'">
                    </el-rate>

                    <el-rate v-model="recipe.rate"
                             @@change="addRate($event,recipe.id)"
                             :texts="['oops', 'hayalkırıklığı', 'idare eder', 'iyi', 'muazzam']"
                             show-text>
                    </el-rate>
                
                    <ul  class="post-meta"><li><a class="el-icon-s-flag " @@click="changeBookmark(recipe.id)">| İşaretle</a></li> </ul>  


</div>
                

            </div>
            <span class="arrow-nav right-arrow"><a :href="'/home/detail?slug=' + recipe.slug">Detayları gör</a><i class="fa fa-angle-right"></i></span>
        </div>
    </div>
</div>



    <script>
        Vue.component('v-select', VueSelect.VueSelect)

        var vm = new Vue({
            el: '#CategoryPage',
            data: function () {
                return {
                    loading: false,
                    user: {},
                    categories: [],
                    filter: {
                        category: null,
                        serviceCount: null,
                        cookingTime: null,
                        skip: 0
                    },
                    items: []

                }
            },

            methods: {
                CallRecipe() {
                    axios.post("recipe/all", this.filter).then((res) => {

                        this.items = res.data.data.items;
                    })
                },
                addRate(rate, id, oldRate) {

                    axios.post("recipe/addrate", { recipeid: id, rate }).then((res) => {
                        if (res.data.hasError) {
                            this.$message.error(res.data.message)
                        }
                        else {
                            this.$message.success(res.data.message);
                        }
                    })
                },
                changeBookmark(id) {
                    axios.post("recipe/togglebookmark", { id })
                }
            }, beforeMount() {
                axios.post('category/all', { searchTerm: '' }).then((res) => {
                    this.categories = res.data.data.items;
                })

                axios.post("recipe/all", { filter: null }).then((res) => {

                        this.items = res.data.data.items;
                    })
                
            },
            watch: {
                filter: {
                    handler: function () {
                        this.CallRecipe()
                    },
                    deep: true
                }
            }
        })</script>

