


    <header>
        <div class="header header-main header-var2 fade-load-down fadeInDown">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo-wrapper">
                            <a href=@Url.Action("Index","Home")><img src="/Theme/images/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="outer-nav">
                            <div class="wrapper-links">
                                <ul class="header-social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <span id="loginControl" class="sign-in-buttons">
                                    <a v-if="!loggedIn" class="login" href=@Url.Action("Login","Login")>Login</a>
                                    <a v-if="!loggedIn" class="register" href=@Url.Action("Register","Login")>Register</a>
                                    <a v-if="loggedIn" class="register">Merhaba, {{user.firstName}}</a>

                                    <div class="dropup" v-if="loggedIn">
                                        <a style="cursor: pointer" class="dropdown-toggle login" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Ayarlar
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <li><a href="#" v-if="loggedIn" @@click="toggleBookmark">İşaretlenen Tarifler </a></li>
                                            <li><a href="#" v-if="LoginAdmin && loggedIn" @@click="settingsCategory">Kategori ayarları</a></li>
                                            <li><a href="#" v-if="LoginAdmin && loggedIn" @@click="settingRecipe"> Tarif Ayarları </a></li>
                                            <li><a href="#" v-if="loggedIn" @@click="signout">Çıkış</a></li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                            <div class="wrapper-main-nav ">
                                <nav class="nav-collapse responsive-menu">
                                    <ul class="main-menu">
                                        <li>
                                            <a href=@Url.Action("Index","Home")>Anasayfa</a>
                                         </li>
                                        <li>
                                            <a href=@Url.Action("RecipeDetail","Home")>Tarifler</a>
                                       </li>
                                        <li>
                                            <a href="#">Kategoriler</a>
                                         </li>
                                        <li><a href=@Url.Action("Contact","Home")>İletişim</a></li>
                                      
                                        
                                        <li><a class="submit-recipe" href=@Url.Action("SubmitRecipe","Home")>Tarif Gönder</a></li>
                                    </ul>

                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



<script>
var vm = new Vue({
  el: '#loginControl',
  data: function() {
       return {
           loading: false,
           loggedIn: false,
           LoginAdmin: false,
           user:{}
       }
  },
    beforeMount() {
        var token = localStorage.getItem("token");
        if(token == null)
        {
            // Oturum yok
            this.loggedIn = false;
            this.LoginAdmin = false;
        }
        else
        {
            // Oturum var
            this.loggedIn=true;
            var user = localStorage.getItem('user');
            if(user == null)
            {
                localStorage.removeItem('token');
                this.loggedIn = false;
                this.LoginAdmin = false;
            }
            else
            {
                this.user = JSON.parse(user);

                if (this.user.role == 1)
                    this.LoginAdmin = true;
                else {
                    this.LoginAdmin = false;
                }
            }
         
        }
    },
    methods: {
        signout(){
            localStorage.removeItem('token');
            localStorage.removeItem('user');
            this.loggedIn = false
            window.location.href = '@Url.Action("Login", "Login")'
        },settingsCategory(){
            this.loading = true;
             window.location.href = '@Url.Action("SettingCategory", "Category")'
        },settingRecipe(){
            this.loading = true;
             window.location.href = '@Url.Action("SettingRecipe", "Recipe")'
        }, toggleBookmark() {
            this.loading = true;
             window.location.href = '@Url.Action("ToggleBookmark", "Recipe")'
        }
    }
})</script>


<style>
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }

    .el-icon-arrow-down {
        font-size: 12px;
    }
</style>





