
<header>
    <div class="header header-var1 fade-load-down">
        <div class="responsive-menu"></div>
        <div class="nav-var1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">

                        <div class="left-nav">
                            <nav class="nav-collapse">
                                <ul class="main-menu left">
                                    <li>
                                        <a href=@Url.Action("Index","Home")>Anasayfa</a>

                                    </li>
                                    <li>
                                        <a href="recipe-listing.html">Recent Recipes</a>
                                        <ul>
                                            <li><a href="recipe-listing.html">recipe listing list view</a></li>
                                            <li><a href="recipe-listing-grid.html">recipe listing grid view</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("RecipeDetail","Home")>Tarifler</a>

                                    </li>
                                    <li><a href=@Url.Action("Chefs","Home")>Chefs</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="logo-wrapper">
                            <a href=@Url.Action("Index","Home")><img src="/Theme/images/logo.png" alt="logo" /></a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="right-nav">
                            <div class="wrapper-links">
                                <ul class="header-social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>

                                <span id="loginControl" class="sign-in-buttons">
                                    <a v-if="!loggedIn" class="login" href=@Url.Action("Login","Login")>Login</a>
                                    <a v-if="!loggedIn" class="register" href=@Url.Action("Register","Login")>Register</a>
                                    <a v-if="loggedIn" class="register">Merhaba, {{user.firstName}}</a>
                                    <button v-if="loggedIn" @@click="signout" type="button" class="btn btn-primary">Çıkış</button>
                                    <span>
                                        <button v-if="LoginAdmin && loggedIn" @@click="settingsCategory" type="button" class="btn btn-primary">Kategori ayarları</button>
                                    </span>
                                    <span>
                                        <button v-if="LoginAdmin && loggedIn" @@click="settingRecipe" type="button" class="btn btn-primary">Tarif ayarları</button>
                                    </span>
                                </span>
                               
                                    
                                
                            </div>

                            <nav class="nav-collapse">
                                <ul class="main-menu right">
                                    <li><a href=@Url.Action("Blog","Home")>blog</a></li>
                                    <li><a href=@Url.Action("Elements","Home")>elements</a></li>
                                    <li><a href=@Url.Action("Contact","Home")>İletişim</a></li>
                                    <li><a class="submit-recipe" href=@Url.Action("SubmitRecipe","Home")>Tarif Gönder</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>


<script>
var vm = new Vue({
  el: '#loginControl',
  data: function() {
       return {
           loading: false,
           loggedIn: false,
           LoginAdmin: false,
           user:{}
       }
  },
    beforeMount() {
        var token = localStorage.getItem("token");
        if(token == null)
        {
            // Oturum yok
            this.loggedIn = false;
            this.LoginAdmin = false;
        }
        else
        {
            // Oturum var
            this.loggedIn=true;
            var user = localStorage.getItem('user');
            if(user == null)
            {
                localStorage.removeItem('token');
                this.loggedIn = false;
                this.LoginAdmin = false;
            }
            else
            {
                this.user = JSON.parse(user);

                if (this.user.role == 1)
                    this.LoginAdmin = true;
                else {
                    this.LoginAdmin = false;
                }
            }
            console.log(this.LoginAdmin)
        }
    },
    methods: {
        signout(){
            localStorage.removeItem('token');
            localStorage.removeItem('user');
            this.loggedIn = false
            window.location.href = '@Url.Action("Login", "Login")'
        },settingsCategory(){
            this.loading = true;
             window.location.href = '@Url.Action("SettingCategory", "Category")'
        },settingRecipe(){
            this.loading = true;
             window.location.href = '@Url.Action("SettingRecipe", "Recipe")'
        }
    }
})</script>


