<!--banner-->
<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Şifremi unuttum!</h1>
        </div>
    </div>
</div>

<!--body-->
<div class="container" id="forgetpasswordForm">
    <div class="row">
        <form class="col-md-4 offset-md-4">
            <div class="form-group">
                <label for="exampleInputUsername1">Kullanıcı adı</label>
                <input v-model="form.username" type="text" class="form-control" name="username" id="username"
                       placeholder="lütfen kullanıcı adınızı giriniz">
                <p v-if="response.validationErrors.some(x => x.key == 'username' )">
                    {{ response.validationErrors.find(x => x.key == 'username').value }}
                </p>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email Adresi</label>
                <input v-model="form.email" type="email" class="form-control" name="email" id="email"
                       placeholder="lütfen email adresinizi giriniz">
                <p v-if="response.validationErrors.some(x => x.key == 'email')">
                    {{ response.validationErrors.find(x => x.key == 'email').value }}
                </p>
            </div>

            <div class="col-md-6" v-if="!loading">
                <button @@click="forgetpasswordd" type="button" class="btn btn-primary">Gönder</button>
                <p v-if="response.hasError">{{ response.message }}</p>
            </div>
        </form>
    </div>
</div>

<script>
    var vm = new Vue({
  el: '#forgetpasswordForm',
  data: function() {
       return {
         loading: false,
           form: {
                username: null,
                email: null
           },
           response: {
                hasError:false,
                validationErrors:[],
                message: null
           }
       }
  },
    methods: {
        forgetpasswordd() {
     this.loading = true;
            axios.post("login/forgetpassword", this.form).then((res) => {
                this.response = res.data;

                if(res.data.hasError)
                {

                }
                else
                {
                   window.location.href = '@Url.Action("Index", "Home")'

                }
    this.loading=false;
            })
        }
    }
  })

</script>

